@import 'globals';


body {
  font-family: $body_text;
  font-size: 24px;
  background: white;
  color: black;
}

p {
  margin-bottom: 20px;
}

a {
	color: $red_ring;
	&:hover {
		color: $blue_ring;
	}
}

blockquote {
	margin: 20px;
}

header {
	margin-bottom: 40px;
	h1 {
		color: $termina_brown;
		font-size: 160px;
	}
}

h1 {
	font-family: $heading_text;
	font-size: 48px;
	margin: 20px 0;
}

h2 {
	font-family: $subheading_text;
	font-size: 30px;
}

footer {
  margin-top: 40px;
  clear: both;
  text-align: center;
}

.free {
	font-family: $scrawl;
	color: $red_ring;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.body {
  width: 760px;
  float: left;
  margin: 0 40px 40px 0;
}
.sidebar {
  width: 400px;
  float: right;
}

.copyright {
	font-family: $heading_text;
}

.heart {
	color: $octorok_red;
	text-shadow: 2px 0px 0px black;
}

.heart-list {
	li {
		padding-left: 30px;
		margin-bottom: 20px;
		position: relative;
		&:before {
			content: "#";
			@extend .heart;
			position:absolute;
			left: 0;
			top: 3px;
			width: 20px;
			height: 10px;
		}
	}
}