/* line 4, ../sass/main.scss */
body {
  font-family: Z3;
  font-size: 24px;
  background: white;
  color: black;
}

/* line 11, ../sass/main.scss */
p {
  margin-bottom: 20px;
}

/* line 15, ../sass/main.scss */
a {
  color: #b3321c;
}
/* line 17, ../sass/main.scss */
a:hover {
  color: #9290ff;
}

/* line 22, ../sass/main.scss */
blockquote {
  margin: 20px;
}

/* line 26, ../sass/main.scss */
header {
  margin-bottom: 40px;
}
/* line 28, ../sass/main.scss */
header h1 {
  color: #684312;
  font-size: 160px;
}

/* line 34, ../sass/main.scss */
h1 {
  font-family: LibertyD;
  font-size: 48px;
  margin: 20px 0;
}

/* line 40, ../sass/main.scss */
h2 {
  font-family: FuturaLtCnd;
  font-size: 30px;
}

/* line 45, ../sass/main.scss */
footer {
  margin-top: 40px;
  clear: both;
  text-align: center;
}

/* line 51, ../sass/main.scss */
.free {
  font-family: Floyd;
  color: #b3321c;
}

/* line 56, ../sass/main.scss */
.wrapper {
  width: 1200px;
  margin: 0 auto;
}

/* line 61, ../sass/main.scss */
.body {
  width: 760px;
  float: left;
  margin: 0 40px 40px 0;
}

/* line 66, ../sass/main.scss */
.sidebar {
  width: 400px;
  float: right;
}

/* line 71, ../sass/main.scss */
.copyright {
  font-family: LibertyD;
}

/* line 75, ../sass/main.scss */
.heart, .heart-list li:before {
  color: #ff3500;
  text-shadow: 2px 0px 0px black;
}

/* line 81, ../sass/main.scss */
.heart-list li {
  padding-left: 30px;
  margin-bottom: 20px;
  position: relative;
}
/* line 85, ../sass/main.scss */
.heart-list li:before {
  content: "#";
  position: absolute;
  left: 0;
  top: 3px;
  width: 20px;
  height: 10px;
}
